

.news-mainhead{
    color: black;
    margin-bottom: 20px;
    font-size: 32px;
}

.news-bottom{
    margin-bottom: 30px;
}

.news-post{
    background: white;
    padding: 20px;
    margin-top: 15px;
}

.news-date{
    color: #333333 !important;
}

.news-text{
    font-size: 18px;
    color: #333333 !important;
}

#linkTop{
    text-decoration: none !important;
    color: black !important;
}

#loadMore{
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: #fff;
}

.paginate{
    display: none;
}


